# Copia este archivo como ".env" y llena con los datos de tu proyecto de Supabase
# (Settings > API en el panel de Supabase)
VITE_SUPABASE_URL=https:https://yokbhbjmwtjzwvalpoto.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_TU5wy0XVfnV6JASKlQsEVA_5lmsviXa
